.heading{
    color: blueviolet;
    text-align: center;
    font-family: 'WindSong',cursive;
    font-size: 50px;
}
#headimg{
    width: 960px;
}
#img1{
    border-radius: 10%;
}
#img2{
    border-radius: 10%;
    margin-bottom: 60px;
}
.carouselimg{
    width: 600px;
    height: 600px;
}
body{
    text-align: center;
    background: linear-gradient(#30c6d1 0% ,#3f2f86 100%);;
}

